<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de evento
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<div class="alert  alert-danger  alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<i class="fa  fa-exclamation-circle"></i> Já existe um evento com o nome informado.
		</div>
	
		<form method="POST" th:object="${evento}" class="form-vertical  js-form-loading">
			<div class="row">
				<div class="col-sm-6 form-group">
					<label for="input-evento-titulo">Titulo</label>
					<input id="input-evento-titulo" type="text" class="form-control" th:field="*{titulo}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6 form-group">
					<label for="input-evento-descricao">Descrição</label>
					<textarea id="input-evento-descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="input-evento-data">Data</label>
						<input id="input-evento-data" type="date" class="form-control" th:field="*{data}"/>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="form-group">
						<label for="input-evento-hora">Hora</label>
						<input id="input-evento-hora" type="time" class="form-control"/>
					</div>
				</div>

			</div>
			
			<div class="row">
				<div class="col-sm-3 form-group">
					<label for="input-evento-local">Local</label>
					<input id="input-evento-local" type="text" class="form-control"/>
				</div>
			
				<div class="col-sm-3">
					<div class="form-group">
						<label for="tipo" class="control-label">Tipo</label>						
						<select id="tipo" class="form-control" name="tipo" th:field="*{tipo}">
						   <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.descricao}"></option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a href="#" class="btn  btn-default">Cancelar</a>
			</div>
	
		</form>
	</div>

</section>
</body>
</html>