<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>AlgaWorks</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de produto
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<div class="alert  alert-danger  alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.
		</div>
	
		<form method="get" class="form-vertical  js-form-loading">
			
			<div class="form-group">
				<label for="input-evento-titulo">Titulo</label>
				<input id="input-evento-titulo" type="text" class="form-control"/>
			</div>
	
			<div class="form-group">
				<label for="input-evento-descricao">Descrição</label>
				<textarea id="iinput-evento-descricao" rows="3" class="form-control"></textarea>
			</div>
	
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="input-evento-data">Data</label>
						<input id="input-evento-data" type="date" class="form-control"/>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="form-group">
						<label for="input-evento-tipo">Tipo</label>						
						<select id="tipo" name="tipo">
						   <option value="compromisso">Compromisso</option>
						   <option value="CHINA">China</option>
						   <option value="SG">Singapore</option>
						   <option value="MY">Malaysia</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a href="#" class="btn  btn-default">Cancelar</a>
				<a href="#" class="btn  btn-link  aw-btn-link-danger">Excluir este produto</a>
			</div>
	
		</form>
	</div>

</section>
</body>
</html>