<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<link rel='stylesheet' th:href='@{layout/fullcalendar-2.9.1/fullcalendar.css}' />
		<script th:src='@{layout/javascripts/jquery.min.js}'></script>
		<script th:src='@{layout/javascripts/moment.min.js}'></script>
		<script th:src='@{layout/fullcalendar-2.9.1/fullcalendar.js}'></script>
		<script> 
			$(document).ready(function() {

					// page is now ready, initialize the calendar...

					$('#calendar').fullCalendar({
						  // put your options and callbacks here
					})

			});
		</script>
		<title>AlgaWorks</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Agenda de eventos - Home
			</h1>
			<div id='calendar'>
			
			</div>
		</div>
	</div>


</section>
</body>
</html>