<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head>

	<meta charset="utf-8" />

	<link rel="stylesheet" th:href="@{/layout/stylesheets/calendar.css}" media="screen"/>

	<style type="text/css">
		.footer{margin-top:100px;text-align:center;color:#666;font:bold 14px Arial}
		.footer a{color:#999;text-decoration:none}#wrapper{padding: 50px 0 0 325px;}
		#calendar{margin:25px auto; width: 370px;}
	</style>
	<meta name="robots" content="noindex,follow" />
</head>

<body>


<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Agenda de eventos - Home
			</h1>
		</div>
	</div>
	
	<div id="calendar"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script th:src="@{/layout/javascripts/jquery-ui-datepicker.min.js}"></script>
	<script th:inline="javascript">
		//<![CDATA[
		/* -------------------------------------------
			
			Criar javascript para andar pela lista e criar a tabela em HTML
			para mostrar os eventos do dia
		
		   -------------------------------------------*/
	
	
	
			$('#calendar').datepicker({
				inline: true,
				firstDay: 1,
				showOtherMonths: true,
				dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
				dateFormat: "dd-mm-yy",
		        onSelect: function(){
		        	var selected = $(this).val();
		        	//$('#teste').empty();
			       
			        var eventos = [[${eventos}]];	
					
					for (i = 0; i < eventos.length; i++) {		
						var d = eventos[i].data;
						d =  d.slice(0, 10).split('-');
						d = d[2] +'-'+ d[1] +'-'+ d[0];
						//alert(selected);
						if (selected == d){
							
							var tds = $('<tr>');
							tds.append($('<td>').text(eventos[i].titulo));
							tds.append($('<td>').text(eventos[i].descricao));
							tds.append($('<td>').text(eventos[i].data));
							tds.append($('<td>').text(eventos[i].tipo.descricao));
							$('#teste').prepend(tds);
						}
					}
		        }
			});
		//]]> 
	</script>
	

	<div class="table-responsive">
			<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>
						<th>Titulo</th>
						<th>Descrição</th>
						<th>Data</th>
						<th>Tipo</th>
					</tr>
				</thead>
				<tbody th:each="evento : ${eventos}" id="teste">
					<tr id="teste2" >					
					<!-- <td th:text="${evento.titulo}"></td>
						<td th:text="${evento.descricao}"></td>
						<td th:text="${evento.data}"></td>
						<td th:text="${evento.tipo.descricao}"></td> -->
					
					
					</tr>
					<tr th:if="${eventos.empty}">
						<td colspan="5">Nenhum evento cadastrado</td>
					</tr>
				</tbody>
			</table>
		</div>
</section>



</body>

</html>