<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head>

	<meta charset="utf-8" />

	<link rel="stylesheet" th:href="@{/layout/stylesheets/calendar.css}" media="screen"/>

	<style type="text/css">
		.footer{margin-top:100px;text-align:center;color:#666;font:bold 14px Arial}
		.footer a{color:#999;text-decoration:none}#wrapper{padding: 50px 0 0 325px;}
		#calendar{margin-left:25px; width: 370px;}
		.event a {
		    background: #75507b !important;
		    background-image :none !important;
		}
	</style>
	<meta name="robots" content="noindex,follow" />
</head>

<body>


<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Agenda
			</h1>
		</div>
	</div>
	
	<div id="calendar"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script th:src="@{/layout/javascripts/jquery-ui-datepicker.min.js}"></script>
	<script th:inline="javascript">
		//<![CDATA[
		
        //Cria um array de eventos(recebidos do controlador)		           
		var eventos = [[${eventos}]];
	        
		// An array of dates
	        var eventDates = {};
	        for (i = 0; i < eventos.length; i++) {
	        	var d = eventos[i].data;
				d =  d.slice(0, 10).split('-');
				d = d[1] +'-'+ d[2] +'-'+ d[0];
	        	eventDates[ new Date( d )] = new Date( d );
	        }	
		
			$('#calendar').datepicker({
				inline: true,
				firstDay: 1,
				showOtherMonths: true,
				dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
				dateFormat: "dd-mm-yy",
				
				//Trocar cor de datas com evento(s)
				beforeShowDay: function(date) {
			        var highlight = eventDates[date];
			        if (highlight) {
			             return [true, "event", highlight];
			        } else {
			             return [true, '', ''];
			        }
			     },
			
			    //Mostrar informacoes dos eventos da data selecionada 
				onSelect: function(){
		        	var selected = $(this).val();
		        	$('#teste').empty();
		        	$('#tabela').empty();

		        	//Anda pelo array de eventos
					for (i = 0; i < eventos.length; i++) {		
						
						//Formata a data para comparar com a data selecionada no datepicker
						var d = eventos[i].data;
						d =  d.slice(0, 10).split('-');
						d = d[2] +'-'+ d[1] +'-'+ d[0];
						
						if (selected == d){
							var thead = $('<tr>');
							thead.append($('<th>').text('Titulo'));
							thead.append($('<th>').text('Hora'));
							$('#tabela').prepend(thead);
									
							var tds = $('<tr>');
							var a = $('<td>');
							//Inserir link para pagina de visualizacao do evento selecionado
							a.append($('<a>').attr("href", "http://localhost:8080/agenda/" + eventos[i].idevento).text(eventos[i].titulo));
							tds.append(a);
							tds.append($('<td>').text(eventos[i].horaevento));
							/*tds.append($('<td>').text(eventos[i].descricao));
							tds.append($('<td>').text(eventos[i].data));
							tds.append($('<td>').text(eventos[i].tipo.descricao));*/

							$('#teste').prepend(tds);
						}
					}
				}
			       
	   		});
		//]]> 
	</script>
	

	<div class="table-responsive col-sm-6">
		<table id="tabela-eventos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
			<thead id="tabela" class="aw-table-header-solid">
			</thead>
			<tbody th:each="evento : ${eventos}" id="teste">					
			</tbody>
		</table>
	</div>
</section>



</body>

</html>