<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head>

	<meta charset="utf-8" />

	<link rel="stylesheet" th:href="@{/layout/stylesheets/calendar.css}" media="screen"/>

	<style type="text/css">
		.footer{margin-top:100px;text-align:center;color:#666;font:bold 14px Arial}
		.footer a{color:#999;text-decoration:none}#wrapper{padding: 50px 0 0 325px;}
		#calendar{margin:25px auto; width: 370px;}
	</style>
	<meta name="robots" content="noindex,follow" />
</head>

<body>


<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Agenda de eventos - Home
			</h1>
		</div>
	</div>
	
	<div id="calendar"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script th:src="@{/layout/javascripts/jquery-ui-datepicker.min.js}"></script>
	<script>
		$('#calendar').datepicker({
			inline: true,
			firstDay: 1,
			showOtherMonths: true,
			dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
		});
	</script>
	
	
	<div class="form-group">
		<textarea id="iinput-evento-descricao" rows="5" class="form-control"></textarea>
	</div>


</section>



</body>

</html>