<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutSimples">
	
<head>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Login
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<div class="aw-simple-panel__message  is-error" th:if="${#bools.isTrue(param.error)}">
			O usuário e/ou senha não conferem
		</div>
	
		<form th:action="@{/login}" method="POST" class="form-vertical  js-form-loading">	
	
	
			<div class="aw-simple-panel__box">
				<div class="form-group  has-feedback">
					<input type="text" class="form-control  input-lg" placeholder="Email" 
						autofocus="autofocus" name="username"/>
					<span class="glyphicon  glyphicon-envelope  form-control-feedback"></span>
				</div>
				
				<div class="form-group  has-feedback">
					<input type="password" class="form-control  input-lg" placeholder="Senha" name="password"/>
					<span class="glyphicon  glyphicon-lock  form-control-feedback" ></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn  btn-primary  btn-lg">Entrar</button>
					<a class="btn  btn-primary  btn-lg" th:href="@{/agenda/cadastro}">Cadastrar</a>
				</div>
			</div>
	
	
		</form>
	</div>

</section>
</body>
</html>