<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title th:text="${evento.titulo}"></title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1 th:text="${evento.titulo}"></h1>
		</div>
	</div>
	
	<script th:inline="javascript">
		/*function showStuff(id, btn) {
		    document.getElementById(id).style.display = 'block';
		    hide the lorem ipsum text
		    document.getElementById(text).style.display = 'none';
		    hide the link
		    btn.style.display = 'none';
		}*/
		
		function enableEdicao(idshow, idhide) {
		    document.getElementById(idshow).style.display = 'block';
		    document.getElementById(idhide).style.display = 'none';
		}
	</script>
	
	<!-- <td class="post">
		<a href="#" onclick="showStuff('answer1', this); return false;">Edit</a>
		<label id="answer1" style="display: none;"> apareceu </label>
	</td>-->
	
	<!-- Form de exibição do evento -->
	<div id="formexibicao" class="container-fluid">
		<div class="rol">
			<div class="col-sm-15">
				<form method="POST" class="form-vertical  js-form-loading">
					<ul class="list-group">
						<li class="list-group-item" th:text="|Descrição: ${evento.descricao}|"></li>
						<li id="data" class="list-group-item" th:text="|Data: ${evento.dia}|"></li>
						<li class="list-group-item" th:text="|Hora: ${evento.horaevento}|"></li>
						<li class="list-group-item" th:text="|Local: ${evento.localevento}|"></li>
						<li class="list-group-item" th:text="|Tipo: ${evento.tipo.descricao}|"></li>
						<!-- <input class="list-group-item" th:placeholder="|Tipo: ${evento.tipo.descricao}|"></input>-->
					</ul>
					<div class="btn-group col-sm-9">
						<a href="#" class="btn  btn-default btn-xs" onclick="enableEdicao('formedicao', 'formexibicao'); return false;">
							Editar
						</a>									
						<a id="botaoexcluir" th:href="@{/agenda/excluir/{codigo}(codigo=${evento.idevento})}" class="btn  btn-default btn-xs" type="submit">
							Excluir
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Form de edição do evento -->
	<div id="formedicao" class="container-fluid" style="display: none;">
		<div class="rol">
			<div class="col-sm-15">
				<form method="POST" th:object="${evento}" class="form-vertical  js-form-loading">
					<ul class="list-group">
						<input class="list-group-item" th:field="*{idevento}" style="display: none;"></input>
						<input class="list-group-item" th:field="*{titulo}"></input>
						<input class="list-group-item" th:field="*{descricao}"></input>
						<input id="data" type="text" class="list-group-item" th:field="*{dia}" ></input>
						<input class="list-group-item" th:field="*{horaevento}"></input>
						<input class="list-group-item" th:field="*{localevento}"></input>
					</ul>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="tipo">Tipo</label>						
							<select id="tipo" name="tipo" th:field="*{tipo}">
							   <option value="">Selecione um novo tipo...</option>
							   <option value="COMPROMISSO">Compromisso</option>
							   <option value="REUNIAO">Reunião</option>
							   <option value="ENTREVISTA">Entrevista</option>
							   <option value="FESTA">Festa</option>
							   <option value="JANTAR">Jantar</option>
							   <option value="LEMBRETE">Lembrete</option>
							   <option value="ANIVERSARIO">Aniversário</option>
							   <option value="CONFERENCIA">Conferência</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<button  class="btn  btn-primary" type="submit">
							Salvar
						</button>									
						<a th:href="@{/agenda}" class="btn  btn-default btn-xs">
							Cancelar
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</section>
</body>
</html>